@model Kiddo.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Babysitter
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Babysitter.Email)
        </dd>

        <dt>
            Requisitador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requisitador.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
